.product-wrapper {
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100vh;
	background-color: var(--primary-bg);
	padding: 32px 16px;
}

.product {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 600px;
}

.product__image {
	border-radius: 12px 0px 0px 12px;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.product__content {
	padding: 32px;
	background-color: var(--secondary-bg);
	border-radius: 0px 12px 12px 0px;
}

.product__category {
	display: block;
	font-family: var(--font-secondary);
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--secondary-color);
	margin: 0px 0px 24px 0px;
}

.product__name {
	font-family: var(--font-primary);
	font-size: 32px;
	color: var(--primary-color);
	margin: 0px 0px 24px 0px;
}

.product__description {
	font-family: var(--font-secondary);
	font-size: 14px;
	color: var(--secondary-color);
	margin: 0px 0px 24px 0px;
}

.product__prices {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: start;
	align-items: center;
	gap: 12px;
	margin: 0px 0px 24px 0px;
}

.product__prices-new {
	font-family: var(--font-primary);
	font-size: 32px;
	color: var(--highlight-color);
}

.product__prices-old {
	font-family: var(--font-secondary);
	font-size: 14px;
	text-decoration: line-through;
	color: var(--secondary-color);
}

.product__button {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
	align-items: center;
	gap: 12px;
	width: 100%;
	height: 48px;
	background-color: var(--highlight-color);
	border-radius: 8px;
	font-family: var(--font-secondary);
	font-size: 14px;
	font-weight: 700;
	color: hsl(0, 0%, 100%);
	transition: 0.3s;
	cursor: pointer;
}

.product__button::before {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background-image: url("../images/icon-cart.svg");
	background-repeat: no-repeat;
}

.product__button:hover {
	background-color: var(--highlight-color-h);
}

@media (max-width: 750px) {
	.product {
		grid-template-columns: 1fr;
		max-width: 340px;
	}

	.product__image {
		border-radius: 12px 12px 0px 0px;
	}

	.product__content {
		padding: 24px;
		border-radius: 0px 0px 12px 12px;
	}

	.product__category,
	.product__name,
	.product__description {
		margin: 0px 0px 12px 0px;
	}
}
