:root {
	--primary-bg: hsl(30, 38%, 92%);
	--secondary-bg: hsl(0, 0%, 100%);

	--primary-color: hsl(212, 21%, 14%);
	--secondary-color: hsl(228, 12%, 48%);

	--highlight-color: hsl(158, 36%, 37%);
	--highlight-color-h: #1a4031;

	--font-primary: "Fraunces", serif;
	--font-secondary: "Montserrat", sans-serif;
}
